[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
requests = "*"
pytz = "*"
textual = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start = "python3 main.py"
